{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<section id="bow" class="contact pb-100">
<div class="main-form">
    <div class="container">
        <div class="controls">
            <div class="row">
                <!-- contact form -->
                <div class="col-md-offset-2 col-md-8">
                    <form class="form" method="post" role="form" novalidate="true">
                        {% csrf_token %}
                        <p>Are you sure you want to delete the bow named "{{ object.name }}"?</p>
                        <input type="submit" value="Confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}