{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<section id="bow" class="contact pb-100">
<div class="main-form">
    <div class="container">
        <div class="controls">
            <div class="row">
                <!-- contact form -->
                <div class="col-md-offset-2 col-md-8">
                    <form class="form" method="post" role="form" novalidate="true">
                        {% csrf_token %}
                        <div class="messages"></div>
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                        <div class="controls">
                            {% for field in form.visible_fields %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-error has-danger">
                                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{field}}
                                        {% if field.help_text %}
                                            <br />{{ field.help_text }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-error has-danger">
                                        <button type="submit" class="button btn-sm btn-bg-dark btn-rdus mb-10">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}